<!-- <p>pop-up works!</p> -->
<div id="id01" class="w3-modal" width="100px">
    <div class="w3-modal-content">
  
      <header class="w3-container w3-teal">
       
        <!-- <h2>Modal Header</h2> -->
      </header>
  
      <div class="w3-container">
        <h3>
           Appointment Request Submitted.
        </h3>
        <!-- <input type="date" onload="getDate()"> -->
        <!-- <calendar-component></calendar-component> -->
      </div>
  
      <footer class="w3-container w3-teal">
        <div class="form-submit-btn1">
            <!-- <input type="submit" value="Book"> -->
          </div>
      </footer>
  
    </div>
  </div>
